/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    letter-spacing: 0.14994px;
}

/* You can override the default Infima variables here. */
:root {
    --ifm-font-family-base: 'Rubik';
    --ifm-color-primary: #2c5f30;
    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

    --ifm-background-color: #e8f9eb88;
    --ifm-font-color-base: #333333d0;
    --ifm-navbar-background-color: #9dcc8e;
    --ifm-heading-font-weight: 500;

    .hero--rocket {
        --ifm-hero-background-color: #9dcc8e88;
        --ifm-hero-text-color: #2c5f30;
    }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #96F7D0;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

    --ifm-background-color: #051f1488;
    --ifm-font-color-base: #ffffffd0;
    --ifm-navbar-background-color: #2c5f30;
    --ifm-heading-font-weight: 500;

    .hero--rocket {
        --ifm-hero-background-color: #2c5f3088;
        --ifm-hero-text-color: #ddd;
    }
}
